<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
form.search_bar input[type=text]{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: center;
  width: 45%;
  backgroud: #f1f1f1;
}
form.search_bar button {
  float: center;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
</style>

<!-- Load icon library -->

<center>
<h1>Search for a Recipe</h1>
</center>

<center>

<div id="recipes_search_name">

  <form class="search_bar" action="/recipes">
    <div id="click_button">
    <input type="text" placeholder="Search for Recipe by Name" name="search">
      <button type="submit" placeholder="Search"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div>

<br>

<div id="recipes_search_ingredient">

  <form class="search_bar" action="/recipes">
    <div id="click_button">
    <input type="text" placeholder="Search for Recipe by Single Ingredient" name="search">
      <button type="submit" placeholder="Search"><i class="fa fa-search"></i></button>
    </div>
  </form>
</div>








</center>
