<center>

<h1>Recipe Results Index Page</h1>
<h2>Search Results For: <%= @query %></h2>
</center>


<% if @recipes %>
  <center>
  <% @recipes.each do |recipe| %>

    <div id="recipe_id-<%= recipe.id %>">
      <ul>   <%= link_to "#{recipe.name}", "/recipes/#{recipe.id}" %></ul>

    </div>
  <% end %>
  </center>
<% else %>

<% end %>

