<center>

<h1>Recipe Results Index Page</h1>
<h2>Search Results For: <%= @query %></h2>
</center>


<center>

<% if @recipes.count == 0 %>

<h2>No Match Was Found For: <%= @query %></h2>
  

</center>
<% else %>

<center>

<% @recipes.each do |recipe| %>
  <div id="recipe_id-<%= recipe.id %>">
  <ul><%= recipe.name %></ul>

  </div>


<% end %>





</center>


<% end %>