<%= render "layouts/header" %>
<div id="page-container">
<div id="content-wrap">
<div class="container text-center">

<% if current_user %>
  <div id="users_name">
    <text>Welcome back,<br> <%= current_user.name %>!</text>
  </div>


</div>
<center>
  <% if @saved_recipes %>
  <div id="saved_recipes_header">
    <text>Saved Recipes</text>
  </div>
    <div id="saved_recipes_container">
      <% @saved_recipes.each do |recipe| %>
     
        <%= link_to "#{recipe.name}", "/recipes/#{recipe.id}", class: "a-primary"%><br>
      
      <% end %>
    </div>






</center>



  <% end %>
<% end %>
</div>
<%= render "layouts/footer" %>
</div>