<div class="container text-center">
  <h1>FAST FOOD</h1>

  <% if current_user %>
  <%= button_to "Log Out", "/sessions", method: :delete %>
  <% else %>
  <%= button_to "Log In With Google", "/auth/google_oauth2", method: :get %>
  <% end %>
  <br>

  <%= button_to "Browse Recipes", "/recipes/search", method: :get %>
  <br><%= button_to "Random Recipe", "/recipes/random", method: :get %>
</div>
