<style>
h1 {
  font-size: 10em;
  font-family: 'Tai Hertiage Pro';
  color: rgb(45, 36, 36);
  display: inline-block;
  width: 100%;
  margin: 1px;

}
h2 {
  font-size: 10em;
  font-family: 'Tai Hertiage Pro';
  color: rgb(45, 36, 36);
  display: inline-block;
  height: 100%;
  margin: 1px;

}
img {
  width: 500px;
  height: 500px;
  margin: 1px;

} 
.btn-outline-primary{
  margin: 1px;
  background-color: rgb(236, 153, 75);
  font-size: 1.2em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  font-family: 'Tai Hertiage Pro';
}

.btn-outline-primary:hover {
background-color: rgb(191, 146, 112) !important;
}

.btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn.active-outline-primary:focus {
  outline: 0 none !important;
  box-shadow: none !important;
  border: none !important;
}
#root_buttons_random {
  top-padding: 500px;
  border-padding: 600px;
}
#outer_group
{
    width:100%;
    text-align: center;
}

</style>

<div id="logged_in_header">
  <% if current_user %>
    <%= render "layouts/header" %>
  <% end %>
  </div>

<div id="page-container">
  <div id="content-wrap">

    <div class="container text-center">
      <div id="outer">
        <div id="inner">
          <h1 style="padding: 0px;" class="animate__animated animate__lightSpeedInLeft">PHAST </h1>
        </div>
        <img style="padding: 0px;" class="animate__animated animate__bounceInDown" src="<%= image_path('burgerV3.png', size: "300x300") %>" />
        <div id="inner">
          <h2 class="animate__animated animate__lightSpeedInRight">PHOOD</h2>
        </div>
      </div>
      <br>
      <% if current_user.present? == false %>

        <form action="/auth/google_oauth2">
          <button id="root_buttons" type="submit" class="btn btn-outline-primary">Log In With Google</button>
        </form>

        <br>

        <form action="/recipes/search">
          <button id="root_buttons" type="submit" class="btn btn-outline-primary">Search Recipes</button>
        </form>

        <br>

        <form action="/recipes/random">
          <button id="root_buttons" type="submit" class="btn btn-outline-primary">Random Recipe</button>
        </form>


      <% end %>

    </div>
  </div>
  <br>

 <%= render "layouts/footer" %>
</div>
