<h1>About the Team</h1>
<br>

<div id="general_info">
  <text>Fast Food is the Constultancy Project for the Mod 3 Back End program at the Turing School of Software and Design </text>
  <br>
  <a href="https://github.com/James-Harkins/fast_food">Front End Repositoy</a>
  <a href="https://github.com/mcharrod/fast_food_backend">Back End Repositoy</a>

</div>


<div id="the_team">

  <div id="alex">
    <text>Alex Randolph</text>
     <a href="https://github.com/alexGrandolph">GitHub</a>
     <a href="https://www.linkedin.com/in/alexgrandolph/">LinkedIn</a>
  </div>

  <div id="james">
    <text>James Harkins</text>
     <a href="https://github.com/James-Harkins">GitHub</a>
     <a href="https://www.linkedin.com/in/james-harkins-co/">LinkedIn</a>

  </div>

  <div id="katy">
    <text>Katy Harrod</text>
     <a href="https://github.com/mcharrod">GitHub</a>
     <a href="https://www.linkedin.com/in/katyharrod/">LinkedIn</a>

  </div>

  <div id="luke">
    <text>Luke Pascale</text>
     <a href="https://github.com/enalihai">GitHub</a>
     <a href="https://www.linkedin.com/in/luke-pascale/">LinkedIn</a>

  </div>

  <div id="reuben">
    <text>Reuben Davidson</text>
     <a href="https://github.com/Reuben-Davison">GitHub</a>
     <a href="https://www.linkedin.com/in/reuben-davison-3b9ab7227/">LinkedIn</a>
  </div>










</div>