/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
@font-face {
  font-family: 'Tai Hertiage Pro';
  src: url('/assets/Tai_Heritage_pro.TaiHeritagePro-Regular.tff')
}





 body {
   background-color: rgb(255, 237, 219);
 }


#page-container {
   position: relative;
   min-height: 100vh;
 }

 #content-wrap {
   padding-bottom: 5rem;
   /* Footer height */
 }
// root page




 // Recipe show page styling
 #image_of_recipe {
  width: 350px;
  height: 350px;
  border: 2px solid rgb(184, 92, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

 }

 #name_of_recipe {
  width: 40%;
  border: 2px solid rgb(184, 92, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  font-size: 2.5em;
  text-align: center;
  background-color: rgb(236, 153, 75);
 }

#ingredient_header {
  width: 30%;
  border: 2px solid rgb(184, 92, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: center;
  font-size: 2em;
  background-color: rgb(236, 153, 75);
  
}

#ingredient_name {
  width: 3px;
  border: 2px solid rgb(184, 92, 56);
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(224, 192, 151);
}

#ingredient_amount {
  width: 3px;
  border: 2px solid rgb(184, 92, 56);
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: center;
  font-size: 1.5em;
  background-color: rgb(224, 192, 151);
}

#ingredient_row {
  display: table;
  width: 50%;
  table-layout: fixed;
  border-spacing: 10px;
}

#instructions_header {
  width: 250px;
  border: 2px solid rgb(184, 92, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: center;
  font-size: 2em;
  background-color: rgb(236, 153, 75);
}

#instruction_step {
  width: 3px;
  border: 2px solid rgb(184, 92, 56);
  padding: 15px;
  margin: 2px;
  border-radius: 10px;
  display: table-cell;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: left;
  font-size: 1.5em;
  background-color: rgb(224, 192, 151);
}

#instruction_row {
  display: table;
  width: 50%;
  table-layout: fixed;
  border-spacing: 10px;
}

// cocktail styling
#name_of_cocktail{
  width: 40%;
  border: 2px solid rgb(184, 92, 56);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  text-align: center;
  background-color: rgb(236, 153, 75);
  justify-content: center;
  font-size: 2em;
  
}

.btn-light{
  position: sticky;
  margin: 10px;
  border-radius: 15px;
  background-color: rgb(236, 153, 75);
  font-family: 'Tai Hertiage Pro';
  font-size: 1.2em;
}
.btn-light:hover {
background-color: rgb(191, 146, 112);
}

// recipe search index (search for recipe)

.category_drop_down {
  appearance: none;
  outline: 0;
  background: rgb(184, 92, 56);
  background-image: none;
  width: 55%;
  height: 55%;
  color: rgb(184, 92, 56);
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  font-family: 'Tai Hertiage Pro';
}

select {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

#cat_button {
  position: right;
  justify-content: right;
  color: rgb(92, 61, 46);
  background-color:rgb(224, 192, 151);
}
///// 

li a {
  text-decoration: none;
  font-family: 'Tai Hertiage Pro';
  color: #2d2f31;
  font-size: 1.2em;
}


nav {
  width: 300px;
  background-color: rgb(224, 192, 151);
  margin: 40px auto;
}

span {
  padding: 15px;
  background: rgb(184, 92, 56);
  color: white;
  font-size: 1.4em;
  font-family: 'Tai Hertiage Pro';
  cursor: pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide li {
  padding: 10px;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked+.slide {
  height: 680px;
}

.slide2 {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.slide2 li {
  padding: 10px;
}

#touch2 {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch2:checked+.slide2 {
  height: 1215px;
}

//// User Dashboard Styling


#users_name{
  padding-top: 100px;
  font-size: 4em;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46)
}

#saved_recipes_header{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid rgb(184, 92, 56);
  height: 100%;
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 1em;
  font-size: 2.3em;
  // font-variant: small-caps;
  text-decoration: bold;
  background-color: rgb(236, 153, 75);
  color: rgb(92, 61, 46);
  font-family: 'Tai Hertiage Pro';
}

#saved_recipes_container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid rgb(184, 92, 56);
  height: 100%;
  width: 40%;
  margin-bottom: 200px;
  border-radius: .6em;
  font-size: 1.5em;
  background-color: rgb(224, 192, 151);
}

.a-primary {
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46)
}





/// ADMIN SECURITY CHECK PAGE

#enter_password_text{
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  font-size: 3em;
}

#site_password_form{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid rgb(184, 92, 56);
  height: 100%;
  width: 50%;
  margin-bottom: 100%;
  border-radius: .6em;
  font-family: 'Tai Hertiage Pro';
  color: rgb(92, 61, 46);
  font-size: 1.5em;
  background-color: rgb(224, 192, 151);
}


.btn-outline-primary {
  margin: 1px;
  background-color: rgb(236, 153, 75);

  font-size: 1.2em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  font-family: 'Tai Hertiage Pro';

}

.btn-primary {
  margin: 1px;
  background-color: rgb(236, 153, 75);
  font-size: .8em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  font-family: 'Tai Hertiage Pro';
}

.btn-primary:hover {
  background-color: rgb(191, 146, 112) !important;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn.active-primary:focus {
  outline: 0 none !important;
  box-shadow: none !important;
  border: none !important;
}


/// ABOUT THE TEAM PAGE

#about_the_team{
  font-family: 'Tai Hertiage Pro';
  font-size: 5em;
  justify-content: center;
  color: rgb(92, 61, 46);
}

#general_info{
  font-family: 'Tai Hertiage Pro';
  font-size: 2em;
  color: rgb(92, 61, 46);
  justify-content: center;
  border: 4px solid rgb(184, 92, 56);
  border-radius: 10px;
  height: 100%;
  width: 50%;
  padding: 10px;
}
#team_header{
  font-family: 'Tai Hertiage Pro';
  font-size: 3.2em;
  color: rgb(92, 61, 46);
  justify-content: center;
  border: 4px solid rgb(184, 92, 56);
  border-radius: 10px;
  height: 100%;
  width: 50%;
  padding: 10px;
}

#the_team{
  font-family: 'Tai Hertiage Pro';
  font-size: 2.5em;
  color: rgb(92, 61, 46);
  justify-content: left;
  border: 4px solid rgb(184, 92, 56);
  border-radius: 10px;
  height: 100%;
  width: 50%;
  padding: 10px;
  
}

#team_link {
  font-family: 'Tai Hertiage Pro';
  font-size: 1em;
  color: rgb(223, 144, 34);
}