<style>
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(224, 192, 151);
  color: white;
  text-align: left;
  height: 25px;
  border: 2px solid rgb(92, 61, 46);
 
}
a {
   color: rgb(92, 61, 46)
}
</style>

<div class="footer">
    <a href="/admin/security_check">Admin Login</a>
</div>