<style>
#top_bar {
    width:100%;
    text-align: center;
    /* height: 48px; */
    /* line-height: 48px; */
}
.inner{
      
      display: inline-block;
}
.btn-outline-primary{
  margin: 1px;
  background-color: rgb(236, 153, 75);

  font-size: 1.2em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  font-family: 'Tai Hertiage Pro';

}
.btn-outline-primary:hover {
background-color: rgb(191, 146, 112) !important;
}
.btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn.active-outline-primary:focus {
  outline: 0 none !important;
  box-shadow: none !important;
  border: none !important;
}
.btn-outline-danger{
  margin: 1px;
  font-family: 'Tai Hertiage Pro';

  font-size: 1.2em;
  color: black !important;
  outline: 0 none !important;
  box-shadow: none !important;
  border-color: black !important;
  background-color: rgb(222, 74, 72);
  font-color: black !important;
}
.btn-outline-danger:hover {
background-color: rgb(191, 146, 112) !important;
}
.a-primary {
  color: black;
}
</style>


<div id="outer">
  <div class="inner">
    <form action="/">
      <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Home</button>
    </form>
  </div>

  <div class="inner">
    <form action="/recipes/search">
      <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Search Recipes</button>
    </form>
  </div>

  <div class="inner">
    <form action="/recipes/random">
      <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Random Recipe</button>
    </form>
  </div>

  <div class="inner">
    <% if current_user %>
      <form action="/dashboard">
        <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Dashboard</button>
      </form>
    <% end %>
  </div>

  <div class="inner">
    <div class="inner_right">
      <% if current_user %>
        <div class="btn btn-outline-danger" > 
          <%= link_to 'Log Out', '/sessions', method: :delete, class: "a-primary" %>
      <% end %>
        </div>
  </div>
</div>
