<div class="btn btn-outline-primary">
 <%= link_to "Home", "/", method: :get %>
</div>
<div class="btn btn-outline-primary">
  <%= link_to "Search Recipes", "/recipes/search", method: :get %>
</div>
<div class="btn btn-outline-primary">
  <%= link_to "Random Recipe", "/recipes/random", method: :get %>
</div>
